.image-header
  position: relative
  height: 80vh

  .background-image
    position: absolute
    top: 0
    left: 0

  .title-container
    height: 80vh

.posts-grid
  .background-image
    height: 274px

.shopping-cart-icon
  svg
    width: 17px

  span
    font-size: 0.8em
