#header
  .logo
    svg
      width: 50%
      height: auto
      fill: white

.desktop-header
  display: block

.content-copy
  p
    margin-bottom: $margin-small
    line-height: 2

.shop-link
  background: $color-purple
  border-radius: 6px
